[submodule "Unity/Packages/--recursive"]
	path = Unity/Packages/--recursive
	url = https://github.com/Nobuna-no/com.nobunatelier.core.git
[submodule "Unity/Packages/com.nobunatelier.core"]
	path = Unity/Packages/com.nobunatelier.core
	url = https://github.com/Nobuna-no/com.nobunatelier.core.git
